<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.dueday.maya">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <!-- uses-permission android:name="android.permission.READ_CONTACTS" / -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_r"
        android:label="DueDay"
        android:roundIcon="@mipmap/logo_r"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Welcome_Splash"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProjectCalendar"
            android:label="MY PROJECT"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddPersonalEvent"
            android:label="NEW EVENT"></activity>
        <activity
            android:name=".BasicActivity"
            android:label="@string/title_activity_basic"></activity>
        <activity
            android:name=".CreateProject"
            android:label="CREATE PROJECT" />
        <activity
            android:name=".EventView"
            android:label="@string/title_activity_event_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PersonalCalendar"
            android:label="My Calendar"></activity>
        <!-- <activity android:namPersonalCalendarndar"></activity> -->
        <activity android:name=".FirebaseDBTestActivity"></activity>
        <activity android:name=".AddProjectEvent"></activity>
    </application>

</manifest>